/* Styles for the places section */
.places {
    width: 100%;
}

/* Styles for the title */
h1 {
    font-size: 30px;
    text-align: left;
}

/* Styles for the individual place listings */
article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
}

/* Styles for the place name */
h2 {
    font-size: 30px;
    text-align: center;
}


/* Styles for the place listings */
.place-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.place {
    width: calc(50% - 20px); /* To fit two places in a row with a 20px gap in between */
    padding: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    margin: 0;
}

